body {
  background-color: #09192e;
  color: white;
}
a {
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
}

.cta {
  display: flex;

  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #64ffda;
  background-color: black;
  color: #fff;
  transition: width 0.7s;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.cta:hover {
  width: 200px;
  transition: width 0.2s;
  cursor: pointer;
}

.cta .button-text {
  opacity: 0;
  transition: opacity 0.5s;
  width: 100%;
  left: 0;
  font-size: large;
}

.cta:hover .button-text {
  opacity: 1;
  transition: opacity 0.5s;
}
.me-nav {
  display: grid;
  margin-top: 72%;
  margin-right: 2rem;
  justify-content: end;
  overflow: hidden;
}
.cta-right {
  display: inline-flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #64ffda;
  background-color: black;
  color: #fff;
  transition: width 0.7s;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  animation-direction: reverse;
}
.cta-right:hover {
  width: 200px;
  transition: width 0.2s;
  cursor: pointer;
}

.cta-right .button-text-right {
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
  left: 0;
  font-size: large;
}

.cta-right:hover .button-text-right {
  opacity: 1;
  animation-direction: reverse;
  transition: opacity 0.5s;
}
.logo {
  margin-left: 0.6rem;
  width: 7%;
}
.social-nav {
  display: grid;
  margin-top: 72%;
  margin-left: 2rem;
  float: none;
  text-align: center;
}

.icon {
  filter: invert(100%);
  margin-left: 3rem;
  height: 1rem;
}
.icon-right {
  filter: invert(100%);
  margin-right: 3rem;
  height: 1rem;
}
